<h1><%= usuario ? 'Editar' : 'Nuevo' %> usuario</h1>
<form action="<%= usuario ? '/usuarios/' + usuario.id + '/editar' : '/usuarios/nuevo' %>" method="POST">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" name="nombre" class="form-control" value="<%= usuario ? usuario.nombre : '' %>">
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label">Apellidos</label>
      <input type="text" name="apellidos" class="form-control" value="<%= usuario ? usuario.apellidos : '' %>">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Email</label>
      <input type="email" name="email" class="form-control" value="<%= usuario ? usuario.email : '' %>">
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label">Teléfono</label>
      <input type="text" name="telefono" class="form-control" value="<%= usuario ? usuario.telefono : '' %>">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Rol</label>
      <select name="rol_id" class="form-select">
        <% roles.forEach(r => { %>
          <option value="<%= r.id %>" <%= usuario && usuario.rol_id == r.id ? 'selected' : '' %>><%= r.nombre %></option>
        <% }) %>
      </select>
    </div>
    <% if (!usuario) { %>
    <div class="col-md-6 mb-3">
      <label class="form-label">Contraseña</label>
      <input type="password" name="password" class="form-control">
    </div>
    <% } %>
  </div>
  <% if (errors.length) { %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% errors.forEach(e => { %><li><%= e.msg %></li><% }) %>
      </ul>
    </div>
  <% } %>
  <button class="btn btn-primary">Guardar</button>
</form>
